.contact_list {
  background: #ccc;
  margin: 1rem;
  padding: 5px;
  border-radius: 5px;
}

.contact {
  background: #fff;
  border-radius: 5px;
  padding: 5px;
}

.contact_add {
    background: #ccc;
    margin: 1rem;
    padding: 5px;
    border-radius: 5px;
  }
  